$background-blue: rgb(29, 62, 145);
$buttons-background-1: rgb(5, 0, 51);
$buttons-background-2: rgb(28, 44, 126);
$home-button-background: rgb(3, 15, 44);
$text-color-nav: white;
$chevron: rgb(0, 194, 37);

